<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 backdrop-blur-sm bg-white/30 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
      <h2 class="text-xl font-bold mb-4">Write your confession</h2>
      <%= render "form", post: @confession %>
    </div>
  </div>
<% end %>